---
replicaCount: 1

image:
  repository: ghcr.io/soluto/oidc-server-mock
  pullPolicy: IfNotPresent
  tag: "0.8.3"

serviceAccount:
  create: true
  annotations: {}
  name: ""

livenessProbe:
  enabled: true

readinessProbe:
  enabled: true

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 250m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

ingress:
  enabled: false