# #############################################################################
# Copyright (c) 2023,2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
# #############################################################################
---
## TODO: update edc to R23.12 and adjust values
# edcconsumer:
#   nameOverride: edcconsumer
#   install:
#     daps: true
#     postgresql: true
#     vault: true
#   backendService:
#     # TODO: what is the correct value here?
#     httpProxyTokenReceiverUrl: "http://localhost"
#   controlplane:
#     endpoints:
#       management:
#         authKey: consumer-authkey
#     image:
#       repository: *edcCpImage
#       tag: *edcImageTag
#   daps:
#     clientId: *edcConsumerDapsClientId
#     daps:
#       secret:
#         clientId: *dapsClientId
#         clientSecret: *dapsClientSecret
#     image:
#       repository: ghcr.io/fraunhofer-aisec/omejdn-server
#     # podSecurityContext:
#     #   fsGroup: 1000
#     #   runAsNonRoot: true
#     #   runAsUser: 1000
#     #   runAsGroup: 1000
#     # persistence:
#     #   accessMode: "ReadWriteOnce"
#   dataplane:
#     image:
#       repository: *edcDpImage
#       tag: *edcImageTag
#   networkPolicy:
#     enabled: *netPolEnabled
#   participant:
#     id: consumer
#   postgresql:
#     nameOverride: consumer-postgresql
#     networkPolicy:
#       enabled: *netPolEnabled
#       ingressRules:
#         primaryAccessOnlyFrom:
#           enabled: true
#           podSelector:
#             app.kubernetes.io/name: edcconsumer-controlplane
#             app.kubernetes.io/instance: '{{ .Release.Name }}-controlplane'
#     jdbcUrl: "jdbc:postgresql://{{ .Release.Name }}-consumer-postgresql:5432/edc"
#     auth:
#       username: psql-consumer-user
#       password: psql-consumer-password
#   vault:
#     hashicorp:
#       token: *edcVaultToken
#     server:
#       dev:
#         devRootToken: *edcVaultToken
#       networkPolicy:
#         enabled: *netPolEnabled
#     secretNames:
#       dapsPrivateKey: *edcConsumerVaultDapsPrivateKey
#       dapsPublicKey: *edcConsumerVaultDapsPublicKey
#       transferProxyTokenEncryptionAesKey: *edcConsumerVaultTransferEncryptionAesKey
#       transferProxyTokenSignerPrivateKey: *edcConsumerVaultTransferPrivateKey
#       transferProxyTokenSignerPublicKey: *edcConsumerVaultTransferPublicKey

# edcprovider:
#   nameOverride: edcprovider
#   install:
#     daps: false
#     postgresql: true
#     vault: false
#   backendService:
#     # TODO: what is the correct value here?
#     httpProxyTokenReceiverUrl: "http://localhost"
#   controlplane:
#     endpoints:
#       management:
#         authKey: provider-authkey
#     image:
#       repository: *edcCpImage
#       tag: *edcImageTag
#   daps:
#     clientId: *edcProviderDapsClientId
#   dataplane:
#     image:
#       repository: *edcDpImage
#       tag: *edcImageTag
#   participant:
#     id: provider
#     clientId: *edcProviderDapsClientId
#   networkPolicy:
#     enabled: *netPolEnabled
#   postgresql:
#     nameOverride: provider-postgresql
#     jdbcUrl: "jdbc:postgresql://{{ .Release.Name }}-provider-postgresql:5432/edc"
#     auth:
#       username: psql-provider-user
#       password: psql-provider-password
#     networkPolicy:
#       enabled: *netPolEnabled
#       ingressRules:
#         primaryAccessOnlyFrom:
#           enabled: true
#           podSelector:
#             app.kubernetes.io/name: edcprovider-controlplane
#             app.kubernetes.io/instance: '{{ .Release.Name }}-controlplane'
#   vault:
#     hashicorp:
#       token: *edcVaultToken
#     secretNames:
#       dapsPrivateKey: *edcProviderVaultDapsPrivateKey
#       dapsPublicKey: *edcProviderVaultDapsPublicKey
#       transferProxyTokenEncryptionAesKey: *edcProviderVaultTransferEncryptionAesKey
#       transferProxyTokenSignerPrivateKey: *edcProviderVaultTransferPrivateKey
#       transferProxyTokenSignerPublicKey: *edcProviderVaultTransferPublicKey

portal:
  enabled: true
  replicaCount: 1

centralidp:
  enabled: true
  keycloak:
    nameOverride: "centralidp"
    replicaCount: 1
    postgresql:
      nameOverride: "centralidp-postgresql"
      architecture: standalone

sharedidp:
  enabled: true
  keycloak:
    nameOverride: "sharedidp"
    replicaCount: 1
    postgresql:
      nameOverride: "sharedidp-postgresql"
      architecture: standalone

bpndiscovery:
  enabled: true
  enablePostgres: true
  bpndiscovery:
    authentication: false
    bpndiscoverEndpoint:
      allowedTypes: oen,wmi,passtype,manufacturerPartId
      description: Service to discover BPN for different kind of type numbers
      endpointAddress: /bpndiscovery
      documentation: /bpndiscovery/swagger-ui/index.html
      timeToLive: "31536000"
    livenessProbe:
      initialDelaySeconds: 200
    readinessProbe:
      initialDelaySeconds: 200
  postgresql:
    nameOverride: "bpndiscovery-postgresql"

discoveryfinder:
  enabled: true
  enablePostgres: true
  discoveryfinder:
    authentication: false
    livenessProbe:
      initialDelaySeconds: 200
    readinessProbe:
      initialDelaySeconds: 200
  postgresql:
    nameOverride: "discoveryfinder-postgresql"

sdfactory:
  enabled: true
  secret:
    # -- JWK Set URI
    jwkSetUri: "https://centralidp.example.org/auth/realms/CX-Central/protocol/openid-connect/certs"
    # -- Custodian wallet client id
    clientId: ""
    # -- Custodian wallet client secret
    clientSecret: ""
    # -- Keycloak URL
    authServerUrl: "https://centralidp.example.org/auth"
    # -- Keycloak Realm detail
    realm: ""
    # -- Keycloak Resource detail
    resource: ""
    # -- Details for Custodian wallet URI
    custodianWalletUri: ""
    # -- Details for Clearing House URI
    clearingHouseUri: ""
    # -- Details for Clearing House URL
    clearingHouseServerUrl: ""
    # -- Details for Clearing House Realm
    clearingHouseRealm: ""
    # -- Details for Clearing House Client ID
    clearingHouseClientId: ""
    # -- Details for Clearing House Client Secret
    clearingHouseClientSecret: ""

vault:
  enabled: true
  token: &vault-token root
  url: http://{{ .Release.Name }}-vault:8200
  secrets:
    # TODO add test secret or secret reference. Can this be generated?
    edc-test-miw-keycloak-secret: miw_private_client
    # TODO add certificate or secret reference. Can Key Pairs be generated?
    tokenSignerPublicKey: >-
      -----BEGIN CERTIFICATE-----\n
      test\n
      -----END CERTIFICATE-----
    # TODO add certificate or secret reference. Can Key Pairs be generated?
    tokenSignerPrivateKey: >-
      -----BEGIN PRIVATE KEY-----\n
      test\n
      -----END PRIVATE KEY-----
    # TODO add test secret or secret reference. Can this be generated?
    tokenEncryptionAesKey: test
  injector:
    enabled: false
  server:
    dev:
      enabled: true
      devRootToken: *vault-token
    ingress:
      enabled: false

managed-identity-wallet:
  nameOverride: miw
  fullnameOverride: miw
  enabled: true
  miw:
    authorityWallet:
      bpn: &authority-bpn "BPNL000000000000"
    database:
      host: "{{ .Release.Name }}-miw-postgres"
      secret: "{{ .Release.Name }}-miw-postgres"
    keycloak:
      url: "https://centralidp.example.org"
      clientId: &miw_client miw_private_client  # TODO switch to existing user
  postgresql:
    nameOverride: miw-postgres
    primary:
      persistence:
        enabled: false
        size: 1Gi
  keycloak:
    enabled: false
  livenessProbe:
    initialDelaySeconds: 90
  readinessProbe:
    initialDelaySeconds: 90

semantic-hub:
  enabled: true
  enableKeycloak: false
  hub:
    authentication: false
    livenessProbe:
      initialDelaySeconds: 200
    readinessProbe:
      initialDelaySeconds: 200
  graphdb:
    enabled: true
    image: jena-fuseki-docker:4.7.0
    imagePullPolicy: Always
    imagePullSecrets:
      - name: machineuser-pull-secret-ro
    storageClassName: ""
    storageSize: 8Gi
