# External Secrets Operator configuration
external-secrets:
  enabled: true
  vaultToken: ""
  vaultAppRoleSecret: ""

# Vault configuration for External Secrets Operator
vault:
  # Enable Vault SecretStore (requires external-secrets.enabled: true)
  enabled: true
  # Vault server URL
  server: "http://umbrella-infra-vault:8200"
  # Vault KV mount path
  path: "secret"
  # Vault KV version (v1 or v2)
  version: "v2"
  # Vault namespace (Enterprise feature)
  namespace: ""

  # SecretStore configuration
  secretStore:
    # Name of the Vault SecretStore
    name: "vault-store"
    # Annotations for the SecretStore
    annotations: {}
    # external-secrets.io/disable-maintenance-checks: "true"

  # Authentication configuration
  auth:
    # Authentication method: token, appRole
    method: "token"

    # Token authentication
    tokenSecret:
      # Name of the secret containing the Vault token
      name: "vault-token"
      # Key in the secret containing the token
      key: "token"
      # Namespace of the token secret (optional)
      namespace: ""

    # AppRole authentication
    appRole:
      # AppRole auth mount path
      path: "approle"
      # Role ID for AppRole auth
      roleId: "test"
      # Secret reference for Secret ID
      secretRef:
        name: "vault-approle-secret"
        key: "secret-id"
        namespace: ""

# overrides for values-adopter-data-exchange.yaml
dataconsumerOne:
  dataspace-connector-bundle:
    tractusx-connector:
      controlplane:
        envValueFrom:
          EDC_DATASOURCE_DEFAULT_PASSWORD:
            secretKeyRef:
              name: umbrella-dataconsumer-1-db
              key: password
      dataplane:
        envValueFrom:
          EDC_DATASOURCE_DEFAULT_PASSWORD:
            secretKeyRef:
              name: umbrella-dataconsumer-1-db
              key: password
      postgresql:
        auth:
          # Name of existing secret to use for PostgreSQL credentials. `auth.postgresPassword`, `auth.password`, and `auth.replicationPassword` will be ignored and picked up from this secret. The secret might also contains the key `ldap-password` if LDAP is enabled. `ldap.bind_password` will be ignored and picked from this secret in this case.
          existingSecret: umbrella-dataconsumer-1-db
    postgresql:
      auth:
        # Name of existing secret to use for PostgreSQL credentials. `auth.postgresPassword`, `auth.password`, and `auth.replicationPassword` will be ignored and picked up from this secret. The secret might also contains the key `ldap-password` if LDAP is enabled. `ldap.bind_password` will be ignored and picked from this secret in this case.
        existingSecret: umbrella-dataconsumer-1-db

tx-data-provider:
  dataspace-connector-bundle:
    tractusx-connector:
      controlplane:
        envValueFrom:
          EDC_DATASOURCE_DEFAULT_PASSWORD:
            secretKeyRef:
              name: umbrella-dataprovider-db
              key: password
      dataplane:
        envValueFrom:
          EDC_DATASOURCE_DEFAULT_PASSWORD:
            secretKeyRef:
              name: umbrella-dataprovider-db
              key: password
      postgresql:
        auth:
          # Name of existing secret to use for PostgreSQL credentials. `auth.postgresPassword`, `auth.password`, and `auth.replicationPassword` will be ignored and picked up from this secret. The secret might also contains the key `ldap-password` if LDAP is enabled. `ldap.bind_password` will be ignored and picked from this secret in this case.
          existingSecret: umbrella-dataprovider-db
    postgresql:
      auth:
        # Name of existing secret to use for PostgreSQL credentials. `auth.postgresPassword`, `auth.password`, and `auth.replicationPassword` will be ignored and picked up from this secret. The secret might also contains the key `ldap-password` if LDAP is enabled. `ldap.bind_password` will be ignored and picked from this secret in this case.
        existingSecret: umbrella-dataprovider-db
  digital-twin-bundle:
    digital-twin-registry:
      postgresql:
        auth:
          # Secret contains passwords for username postgres.
          existingSecret: external-dataprovider-dtr-db
    postgresql:
      global:
        postgresql:
          auth:
            # Name of existing secret to use for PostgreSQL credentials (overrides `auth.existingSecret`).
            existingSecret: external-dataprovider-dtr-db

dataconsumerTwo:
  dataspace-connector-bundle:
    tractusx-connector:
      controlplane:
        envValueFrom:
          EDC_DATASOURCE_DEFAULT_PASSWORD:
            secretKeyRef:
              name: umbrella-dataconsumer-2-db
              key: password
      dataplane:
        envValueFrom:
          EDC_DATASOURCE_DEFAULT_PASSWORD:
            secretKeyRef:
              name: umbrella-dataconsumer-2-db
              key: password
      postgresql:
        auth:
          # Name of existing secret to use for PostgreSQL credentials. `auth.postgresPassword`, `auth.password`, and `auth.replicationPassword` will be ignored and picked up from this secret. The secret might also contains the key `ldap-password` if LDAP is enabled. `ldap.bind_password` will be ignored and picked from this secret in this case.
          existingSecret: umbrella-dataconsumer-2-db
    postgresql:
      auth:
        # Name of existing secret to use for PostgreSQL credentials. `auth.postgresPassword`, `auth.password`, and `auth.replicationPassword` will be ignored and picked up from this secret. The secret might also contains the key `ldap-password` if LDAP is enabled. `ldap.bind_password` will be ignored and picked from this secret in this case.
        existingSecret: umbrella-dataconsumer-2-db

identity-and-trust-bundle:
  ssi-dim-wallet-stub:
    wallet:
      secretName: external-ssi-dim-wallet-secret

ssi-credential-issuer:
  # Secret containing the client-secrets for the connection to portal and wallet
  # as well as encryptionKeys for issuer.credential and processesworker.wallet
  existingSecret: external-ssi-credential-issuer
  postgresql:
    auth:
      # Secret containing the passwords for root usernames postgres and non-root username issuer.
      # Should not be changed without changing the "issuer-postgresSecretName" template as well.
      existingSecret: "{{ .Release.Name }}-issuer-postgres"

# overrides for values-adopter-portal.yaml
portal:
  backend:
    keycloak:
      # Secret containing the database-password and the client-secret for the connection to the centralidp (CX IAM) and the client-secret for the connection to the sharedidp (CX-IAM).
      secret: "portal-backend-keycloak"
    mailing:
      # Secret containing the passwords for backend.mailing and backend.provisioning.sharedRealm.
      secret: "portal-backend-mailing"
    interfaces:
      # Secret containing the client-secrets for the connection to custodian, bpdm, sdFactory, clearinghouse, offer provider and onboarding service provider.
      secret: "portal-backend-interfaces"
  postgresql:
    auth:
      existingSecret: "portal-postgres"

centralidp:
  keycloak:
    auth:
      # Secret containing the password for admin username 'admin'.
      existingSecret: "umbrella-centralidp"
    postgresql:
      auth:
        # Secret containing the passwords for root usernames postgres and non-root username kccentral.
        existingSecret: "umbrella-centralidp-postgresql"
  realmSeeding:
    clients:
      # Option to provide an existingSecret for the clients with clientId as key and clientSecret as value.
      existingSecret: "umbrella-centralidp-clients"
    serviceAccounts:
      # Option to provide an existingSecret for the base service accounts with clientId as key and clientSecret as value.
      existingSecret: "umbrella-centralidp-base-service-accounts"
    extraServiceAccounts:
      # Option to provide an existingSecret for additional service accounts with clientId as key and clientSecret as value.
      existingSecret: "umbrella-centralidp-extra-service-accounts"

sharedidp:
  keycloak:
    auth:
      # Secret containing the password for admin username 'admin'.
      existingSecret: "umbrella-sharedidp"
    postgresql:
      auth:
        # Secret containing the passwords for root usernames postgres and non-root username kccentral.
        existingSecret: "umbrella-sharedidp-postgresql"
  realmSeeding:
    realms:
      cxOperator:
        # Option to provide an existingSecret for initial user and mailing configuration.
        existingSecret: "umbrella-sharedidp-cx-operator-realm-seeding"
      master:
        # Option to provide an existingSecret for clients secrets with clientId as key and clientSecret as value.
        existingSecret: "umbrella-sharedidp-master-realm-seeding"

pgadmin4:
  # Name of existing secret to use for default pgadmin credentials. `env.password` will be ignored and picked up from this secret.
  existingSecret: "external-pgadmin4"

bpndiscovery:
  postgresql:
    auth:
      # Secret contains passwords for username postgres.
      existingSecret: "secret-bpndiscovery-postgres-init"

discoveryfinder:
  postgresql:
    auth:
      # Secret contains passwords for username postgres.
      existingSecret: secret-discoveryfinder-postgres-init

externalSecrets:
  umbrella-bpdm-cleaning-service-dummy:
    secrets.yml: |-
      bpdm:
        client:
          orchestrator:
            registration:
              client-secret: changeme

  umbrella-bpdm-gate:
    secrets.yml: |-
      bpdm:
        client:
          orchestrator:
            registration:
              client-secret: changeme
          pool:
            registration:
              client-secret: changeme
      spring:
        datasource:
          password: dbpasswordbpdm

  umbrella-bpdm-orchestrator:
    secrets.yml: |-
      spring:
        dataSource:
          password: bpdm
        datasource:
          password: dbpasswordbpdm

  umbrella-bpdm-pool:
    secrets.yml: |-
      bpdm:
        client:
          orchestrator:
            registration:
              client-secret: changeme
      spring:
        dataSource:
          password: bpdm
        datasource:
          password: dbpasswordbpdm

  bpdm-postgres:
    postgres-password: dbpasswordbpdm
    password: dbpasswordbpdm

  external-bpndiscovery:
    SPRING_DATASOURCE_DRIVERCLASSNAME: org.postgresql.Driver
    SPRING_SQL_INIT_PLATFORM: pg
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://centralidp.tx.test/auth/realms/CX-Central
    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_DISCOVERYFINDER_CLIENT_CLIENT_ID: sa-cl21-01
    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_DISCOVERYFINDER_CLIENT_CLIENT_SECRET: changeme
    SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_DISCOVERYFINDER_CLIENT_AUTHORIZATION_GRANT_TYPE: client_credentials
    SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_DISCOVERYFINDER_CLIENT_TOKEN_URI: http://centralidp.tx.test/auth/realms/CX-Central/protocol/openid-connect/token
    DISCOVERYFINDER_CLIENT_BASE_URL: semantics.tx.test/discoveryfinder
    BPNDISCOVERY_ALLOWED_TYPES: oen,wmi,passtype,manufacturerPartId
    BPNDISCOVERY_DESCRIPTION: Service to discover BPN for different kind of type numbers
    BPNDISCOVERY_ENDPOINT_ADDRESS: /bpndiscovery
    BPNDISCOVERY_TIME_TO_LIVE: 31536000
    BPNDISCOVERY_DOCUMENTATION: /bpndiscovery/swagger-ui/index.html
    BPNDISCOVERY_IDM_PUBLIC_CLIENT_ID: Cl22-CX-BPND
    BPNDISCOVERY_IDM_BPN_ID_CLAIM_NAME: bpn
    BPNDISCOVERY_SCHEDULER: 0 0 */1 * * *

  umbrella-centralidp-postgresql:
    postgres-password: dbpasswordcentralidp
    password: dbpasswordcentralidp

  umbrella-centralidp:
    admin-password: "adminconsolepwcentralidp"

  umbrella-centralidp-base-service-accounts:
    sa-cl1-reg-2: "changeme"
    sa-cl2-01: "changeme"
    sa-cl2-02: "changeme"
    sa-cl2-03: "changeme"
    sa-cl2-04: "changeme"
    sa-cl2-05: "changeme"
    sa-cl2-06: "changeme"
    sa-cl3-cx-1: "changeme"
    sa-cl5-custodian-2: "changeme"
    sa-cl7-cx-1: "changeme"
    sa-cl7-cx-5: "changeme"
    sa-cl7-cx-7: "changeme"
    sa-cl8-cx-1: "changeme"
    sa-cl21-01: "changeme"
    sa-cl22-01: "changeme"
    sa-cl24-01: "changeme"
    sa-cl25-cx-1: "changeme"
    sa-cl25-cx-2: "changeme"
    sa-cl25-cx-3: "changeme"

  umbrella-centralidp-clients:
    miw: "changeme"
    bpdm: "changeme"
    bpdm-gate: "changeme"
    bpdm-orchestrator: "changeme"

  umbrella-centralidp-extra-service-accounts:
    satest01: "UbfW4CR1xH4OskkovqJ2JzcwnQIrG7oj"
    satest02: "pyFUZP2L9UCSVJUScHcN3ZEgy2PGyEpg"
    satest03: "tPwy4exxH1sXBRQouobSA2nNVaaPuwCs"
    satest04: "BxZ3cwYUPJKK7gI4wq7q6Hgoxel6MphF"
    satest05: "dR00GN1AWCYbRGbZY8TXjs2YEPMeCxLF"
    satest06: "pDSziT0TUFAkMx0qGFcvpE4XkMqPh13v"
    satest07: "GY5a44sNuNIjrTyjHvdEPLeNRHH0Kt39"
    satest08: "WUXpQx1aIclA7enqtk4o2uvLDLMreUMI"
    satest09: "N08TGNdhUskJcmVEnOh1tAGwr9oca9PU"
    satest10: "gzdSG0CBDJrtv1gje0zUASu1S9P4I7xP"
    satest11: "CC3fz3dQGZsBp2NCbowOV65efBFZTgEO"
    satest12: "2gjSlFxBO7spEM4aTz3f8CqDS0klbt7C"
    satest13: "3YQzDqEsdUZ83DVHSIRYUCK4pot61r5M"
    satest14: "7qtMpfN3otq5dGiEPssVongXK56lb9LE"
    satest15: "8QiZ8ineW0Lt8ZOlC2MYuCR0TvM6vMYX"
    satest16: "d2sqUurBH9Vd8DNRmjiMfObU67ajorCq"

  umbrella-dataconsumer-1-db:
    postgres-password: dbpassworddataconsumerone
    password: dbpassworddataconsumerone

  umbrella-dataconsumer-2-db:
    postgres-password: dbpassworddataconsumertwo
    password: dbpassworddataconsumertwo

  umbrella-discoveryfinder:
    SPRING_DATASOURCE_DRIVERCLASSNAME: org.postgresql.Driver
    SPRING_SQL_INIT_PLATFORM: pg
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://centralidp.tx.test/auth/realms/CX-Central
    DISCOVERYFINDER_PUBLIC_CLIENT_ID: Cl21-CX-DF

  external-ssi-dim-wallet-secret:
    PORTAL_CLIENT_SECRET: changeme
    PORTAL_CLIENT_ID: sa-cl2-05

  external-pgadmin4:
    password: tractusxpgadmin4

  portal-backend-interfaces:
    bpdm-client-secret: "changeme"
    clearinghouse-client-secret-default: "U9d46EnpZBdQDJZGnrwZORQA0X9ijxCe"
    custodian-client-secret: "changeme"
    sdfactory-client-secret: "changeme"
    offerprovider-client-secret: "changeme"
    dim-client-secret: "changeme"
    onboardingserviceprovider-encryption-key0: "f7bc3d99f1ace73e7a75b794affbbc26206ab29909821a102aaccb2e95e45f7c"
    onboardingserviceprovider-encryption-key1: "8027152fe7a869c88acc86981760acd70ff1d660c2bd129eece94edef933caf7"
    invitation-encryption-key0: "d84fea29d6eac0fa51e36682b164e7d61693cd4202ed04306d2d9c5d46655e2c"
    mailing-encryption-key0: "d2e27d71b018cb36029184852f1baa3e26891be94718f77de4c7cc6c882fe317"
    issuercomponent-client-secret: "changeme"
    dim-encryption-key0: "6cbaf47ee30c778088e6faa44e2f0eed98beda86db06c7d2e37e32ab78e14b33"
    bpndidresolver-api-key: "bpnBpIGMBneAyRJzJQK4XCnALgNepBjt"
    serviceaccount-encryption-key0: "deb8261ec7b89c344f1c5ef5a11606e305f14e0d231b1357d90ad0180c5081d3"
    offerprovider-encryption-key0: "95ee1429aa40c6bb6972520a9626b19c4306baf0efe3441c8cd41918ea198921"

  portal-backend-keycloak:
    central-client-secret: "changeme"
    shared-client-secret: "changeme"

  portal-backend-mailing:
    password: "qWNePJ4y3Zrs4OG8vBVnR96pPjsBf3kl"
    provisioning-sharedrealm-password: "kWHDoexKi4ijHpquD42SI4vDulZYwpwt"

  portal-postgres:
    postgres-password: "dbpasswordportal"
    replication-password: "dbpasswordportal"
    portal-password: "dbpasswordportal"
    provisioning-password: "dbpasswordportal"

  umbrella-selfdescription-application:
    jwk-set-uri: http://centralidp.tx.test/auth/realms/CX-Central/protocol/openid-connect/certs
    clearingHouse-uri: https://clearingHouse-uri
    clearingHouse-serverUrl: https://clearingHouse-serverUrl
    clearingHouse-realm: realm-cMAdCF
    clearingHouse-clientId: HTTzx16rL5iz5sFJ
    clearingHouse-clientSecret: oUqj2rBnbmoYhWkJ
    verifycredentials-uri: https://verifycredential-uri

  umbrella-semantic-hub:
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://hub-keycloak/realms/default-realm
    HUB_GENERAL_IDM_PUBLIC_CLIENT_ID: default-client
    HUB_TRIPLE_STORE_USERNAME: admin
    HUB_TRIPLE_STORE_PASSWORD: kXhMOQ1egxSMbY8WiKlOWAnCNVRyZCFu

  umbrella-sharedidp-postgresql:
    postgres-password: dbpasswordsharedidp
    password: dbpasswordsharedidp

  umbrella-sharedidp:
    admin-password: adminconsolepwsharedidp

  umbrella-sharedidp-cx-operator-realm-seeding:
    initial-user-username: "cx-operator@tx.test"
    initial-user-password: "tractusx-umbr3lla!"
    initial-user-first-name: "Operator"
    initial-user-last-name: "CX Admin"
    initial-user-email: "cx-operator@tx.org"
    mailing-host: "smtp.tx.test"
    mailing-port: "587"
    mailing-username: "smtp-user"
    mailing-password: "changeme"
    mailing-from: "smtp@tx.test"
    mailing-reply-to: "smtp@tx.test"

  umbrella-sharedidp-master-realm-seeding:
    sa-provisioning: "changeme"
    sa-cx-operator: "changeme"

  umbrella-issuer-postgres:
    postgres-password: "dbpasswordissuer"
    password: "dbpasswordissuer"
    replication-password: "O98IFZ1wir6UUVQu9GnTis7aAfZDx8SP"

  external-ssi-credential-issuer:
    portal-client-secret: "changeme"
    wallet-client-secret: "eWipQCvenYl71Y3PUhusr200ihf7D636"
    credential-encryption-key0: "deb8261ec7b89c344f1c5ef5a11606e305f14e0d231b1357d90ad0180c5081d3"

  umbrella-dataprovider-db:
    postgres-password: "dbpasswordtxdataprovider"
    password: "dbpasswordtxdataprovider"

  umbrella-dataprovider-dtr:
    SPRING_DATASOURCE_URL: jdbc:postgresql://dataprovider-digital-twin-db:5432/dtr
    SPRING_DATASOURCE_USERNAME: user
    SPRING_DATASOURCE_PASSWORD: password
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://registry-keycloak/realms/default-realm
    REGISTRY_IDM_PUBLIC_CLIENT_ID: default-client
    REGISTRY_IDM_OWNING_TENANT_ID: default-tenant
    REGISTRY_IDM_INTERNAL_CLIENT_ID: default-client
    REGISTRY_IDM_IDENTITY_PROVIDER: keycloak
    REGISTRY_EXTERNAL_SUBJECT_ID_WILDCARD_PREFIX: PUBLIC_READABLE
    REGISTRY_EXTERNAL_SUBJECT_ID_WILDCARD_ALLOWED_TYPES: manufacturerPartId,digitalTwinType
    REGISTRY_USE_GRANULAR_ACCESS_CONTROL: false
    REGISTRY_GRANULAR_ACCESS_CONTROL_FETCH_SIZE: 500

  umbrella-dataprovider-dtr-test-credentials:
    aasRegistryUrl: http://umbrella-dataprovider-dtr:8080

  external-dataprovider-dtr-db:
    postgres-password: hKnUhpVAuM
    password: password

  umbrella-bpdm-test:
    defaultSecrets.yml: |-
      bpdm:
        client:
          gate:
            base-url: http://umbrella-bpdm-gate
          pool:
            base-url: http://umbrella-bpdm-pool
          orchestrator:
            base-url: http://umbrella-bpdm-orchestrator
    secrets.yml: |-
      bpdm:
        client:
          gate:
            provider:
              issuer-uri: http://bpdm-centralidp/auth/realms/CX-Central
          orchestrator:
            provider:
              issuer-uri: http://bpdm-centralidp/auth/realms/CX-Central
          pool:
            provider:
              issuer-uri: http://bpdm-centralidp/auth/realms/CX-Central

  secret-bpndiscovery-postgres-init:
    postgres-password: "dbpasswordbpndiscovery"
    password: "dbpasswordbpndiscovery"
    SPRING_DATASOURCE_PASSWORD: "dbpasswordbpndiscovery"
    SPRING_DATASOURCE_URL: jdbc:postgresql://umbrella-bpndiscovery-postgresql:5432/bpndiscovery
    SPRING_DATASOURCE_USERNAME: default-user

  secret-discoveryfinder-postgres-init:
    postgres-password: "dbpassworddiscoveryfinder"
    password: "dbpassworddiscoveryfinder"
    SPRING_DATASOURCE_PASSWORD: "dbpassworddiscoveryfinder"
    SPRING_DATASOURCE_URL: jdbc:postgresql://umbrella-discoveryfinder-postgresql:5432/discoveryfinder
    SPRING_DATASOURCE_USERNAME: catenax
