{{- if and (index .Values "external-secrets" "enabled") (not .Values.vault.enabled) .Values.externalSecrets }}
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: fake-store
  annotations:
    external-secrets.io/disable-maintenance-checks: "true"
spec:
  provider:
    fake:
      data:
{{- range $secretName, $kv := .Values.externalSecrets }}
{{- range $key, $val := $kv }}
        - key: {{ printf "%s-%s" $secretName $key }}
{{- if (kindIs "string" $val) }}
          value: {{ $val | quote }}
{{- else }}
          value: |-
{{-   range $line := regexSplit "\n" ($val | toString) -1 }}
            {{ $line }}
{{-   end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
